@import "../../styles/_vars"

.header
    display: grid
    grid-template-columns: 1fr auto
    align-items: flex-start
    padding: 20px 30px 0 30px
    border-bottom: 1px solid $gray
    height: 70px

.mobile
    &Search
        display: none

.left
    display: grid
    grid-template-columns: auto 1fr
    gap: 40px
    alick-align: center
    &Actions
        display: flex
        align-items: flex-start
        gap: 40px

.logo
    font-size: 25px
    font-weight: bold
    letter-spacing: -1px

.nav
    &List
        display: grid
        grid-template-columns: repeat(4, auto)
        gap: 40px
        align-items: center
    &Item
        border-bottom: 3px solid transparent
        & a
            display: block
            padding-top: 6px
            padding-bottom: 23px
            color: grey
            font-size: 15px
            &:hover
                color: $red
        &Active
            border-color: $red
            & a
                color: $black

.right
    margin-left: auto
    position: relative

.user
    cursor: pointer
    &Avatar
        height: 40px
        width: 40px
        border-radius: 50%

@media screen and (max-width: 1100px)
    .header
        height: auto
    .left
        grid-template-rows: repeat(2, auto)
        grid-template-columns: none
        gap: 35px
    .right
        grid-template-rows: repeat(2, auto)
        grid-template-columns: none
        text-align: right
        gap: 20px
        &UserLogin
            width: 72px
    .mobile
        &Search
            display: block
            margin-top: 23px
    .desktop
        &Search
            display: none
